:root {
    --bgc: green;
}
.message {
    position: relative;
    display: flex;
    gap: 15px;
    padding: 25px;
    background-color: var(--bgc);
}
.messageContent {
    display: grid;
    grid-template-areas:
   "name time"
    "text time";
    column-gap: 10px;
    position: relative;
    max-width: 200px;
    padding: 16px;
    border-radius: 10px 10px 10px 0;
    background-color: #022200;
}
.messageContent::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 20px;
    height: 20px;
    opacity: 1;
    background-color: #022200;
    z-index: 0;
}
.messageContent::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    background-color: var(--bgc);
    border-bottom-right-radius: 50%;
    z-index: 1;
}
.name {
    grid-area: name;
    margin-bottom: 5px;
    font-weight: bold;
    color: #a093c1;
}
.time {
    grid-area: time;
    margin: auto -8px -8px auto;
    text-align: right;
    color: white;
    opacity: 0.3;
}
.messageText {
    grid-area: text;
    color: #ebfaea;
}
.avatar {
    z-index: 3;
    position: relative;
    bottom: 0;
    width: 40px;
    height: 40px;
    align-self: self-end;
    border-radius: 50%;
}


