.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 15px 5px 0;
}

.hm2 {
    width: 20%;
    background-color: lightblue;
}
.name {
    width: 50%;
    font-size: 20px;

}
.prior {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #a093c1;
}
.low {
    color: green;
}
.middle {
    color: greenyellow;
}
.high {
    color: red;
}