.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 15px 5px 0;
}

.hm2 {
    width: 15%;
}
.name {
    width: 50%;
    font-size: 20px;

}
.prior {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #a093c1;
}
.low {
    color: darkgreen;
}
.middle {
    color: darkorange;
}
.high {
    color: red;
}
.button {
    background-color: darkgreen;
    color: #ebfaea;
}
.active {
    background-color: lightgreen;
    color: black;
}