.superInput {
    display: inline-block;
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 2px solid #6008ff;
    border-radius: 5px;
    background-color: #ffdad4;
}

.errorInput {
    display: inline-block;
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 2px solid #b8000d;
    border-radius: 5px;
    background: #ff898c;
}

.error {
   color: orangered;
}